!!!5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv':'x-ua-compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}

    %title
      =@title

    =stylesheet_link_tag  'application',
                          '//fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext'

    %link{rel:'icon', href:'favicon.ico', type:'image/x-icon'}

  %body{class: @page_classes}

    = partial 'partials/header'

    = yield

    = partial 'partials/coversion'
    = partial 'partials/trackers'
    = partial 'partials/footer'
